<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="type">Type de compte</label>
      <select id="type" formControlName="type">
        <option *ngFor="let type of accountTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
  
    <div>
      <label for="balance">Solde</label>
      <input id="balance" type="number" formControlName="balance">
    </div>
  
    <div>
      <label for="user_id">ID Utilisateur</label>
      <input id="user_id" type="number" formControlName="user_id">
    </div>
  
    <button type="submit" [disabled]="accountForm.invalid">Soumettre</button>
  </form>
  