<div class="signup-container">
    <h2>Sign Up</h2>
    <form (submit)="signup()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="userDto.setName" required>
      </div>
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" id="mail" name="mail" [(ngModel)]="userDto.setMail" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="userDto.setUsername" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="userDto.setPassword" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="userDto.setPhone" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  